@model List<string>
@inject ICitiesService citiesServiceInView;

@{
    ViewData["Title"] = "Home";
}

<h1>@ViewData["Title"]</h1>
<p>Welcome to the Home page!</p>

<h3>Service Instance IDs:</h3>
<ul class="list">
    <li>Instance 1 ID: @ViewBag.InstanceId_CitiesService_1</li>
    <li>Instance 2 ID: @ViewBag.InstanceId_CitiesService_2</li>
    <li>Instance 3 ID: @ViewBag.InstanceId_CitiesService_3</li>
    <li>Instance Scoped ID: @ViewBag.InstanceId_CitiesService_InScope</li>
    <li>CityServiceInView ID: @citiesServiceInView.ServiceId</li>
</ul>

<h3>Cities:</h3>
@{
    List<string> citiesFromServiceInView = citiesServiceInView.GetCities();
}
<ul class="list">
    @foreach (string city in citiesFromServiceInView)
    {
        <li>@city</li>
    }
</ul>